body {
  margin: 0;
  font-family: Times, Times New Roman, serif;
}

#main {
  display: block;
  text-align: center;
  padding: 5%

}

.topnav {
  overflow: hidden;
  background-color: rgb(50,50,50);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid black;
  last-child{border-right: none;}
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav a.active {
  background-color: silver;
  color: black;
  font-weight: bold;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#table{
        border-collapse: collapse;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
}

#table caption{
    color: #673AB7;
    font-weight: bold;
    font-size: xx-large;
}

#table td, #table th{
    border: 1px solid black;
    padding: 4px;
    margin: 20px 0;
    text-align: center;
    vertical-align: center;
}
#table tr:nth-child(even) {opacity:0.7; background-color: rgb(200,205,220);}
#table tr:nth-child(odd) {opacity: 0.7; background-color: rgb(210,210,210);}
#table tr:first-child{opacity: 1.0;}



#table tr:hover {opacity: 1.0;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(50,50,50);
    color: rgb(220,220,220);
}

#tableDiv{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
    height: 100%;
}

#table{
    font-size: large;
    text-align: center;
}

#insertinfo{
    color: white;
    width: 40%;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    width: 80%;
    margin:6px 0;
    padding: 8px 10px;
    box-sizing: border-box;
    }

input[type=textarea] {
    width: 80%;
    margin:6px 0;
    padding: 8px 10px;
    box-sizing: border-box;
    }

input[type=file],[type=submit]{
    background-color: rgb(100,100,100);
      border: 1px solid black;
    color: white;
     padding: 12px 30px;
     text-decoration: none;
     margin: 4px 2px;
      cursor: pointer;

}

#make{
    width: 80%;
    margin:6px 0;
    padding: 8px 10px;
    box-sizing: border-box;
}

#model{
    width: 80%;
    margin:6px 0;
    padding: 8px 10px;
    box-sizing: border-box;
}

.imageContainer > img:hover{
    cursor: pointer;
}

.imageContainer > img:active{
    width: 600px;
     height: 600px;
}

#updateImage {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#vinSelect {
  color: gray;
}